
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}


.nav-header {
    position: sticky ;
    z-index: 1;
    top : 0;
    background-color: #fff;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color : blue !important;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-item {
    margin : 0 25px;
    /* font-size: 20px; */
    font-weight: bolder;
}

.navbar-nav .nav-link {
    color : #3d5af1 !important;   
    transition: .5s;
}

.navbar-toggler:focus {
    outline: none !important;
}

.navbar-nav .nav-link:hover {
    border : 1px solid #3d5af1 ;
    background-color: #3d5af1;
    color : #fff !important;
    border-radius: 10px;
    transform: scale(1.1);
}

/* content start */
.header-img {
    margin-top : 40px;
    background-image: url(../data/img-3.jpg);
    width: 100% !important;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    align-items: center;
    justify-content: center ;
    height: 80vh;
}

.text-header {
    font-size: 60px;
    font-weight: bolder;
    /* font-style: italic; */
    color : #000000;
    user-select: none;
}

.text-header-land {
    color : #482ff7;
    font-size: 80px;
    font-weight: bolder;
    margin-left: 15px;
}

.text-para {
    font-size: 25px;
    opacity: .5;
}

.button {
    padding : 10px 15px;
    transition: .5s;
}

.button:hover {
    border : 1px solid #5d5d5a;
    background-color: #5d5d5a;
    transform: scale(1.1);
}

.card {
    transition: .5s;
}

.card:hover {
    transform: scale(1.1);
}

.card-hd {
    background-color: #f6f9fe;
}

.about-container {
    background-color:#f6f9fe;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-size: 30px;
    font-weight:800;
    margin-top : 20px;
    margin-bottom: 20px;
}

.about-para {
    opacity: .5;
}

.about-icon {
    background-color: #fff;
    border: 1px solid #fff;
    padding : 10px 15px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 6px 15px rgb(16 110 234 / 12%);
    color : blue;
}

.counter-body {
    position: relative;
    background-color:#f1f6fe;
}

.counter {
    margin-top : 100px;
}

.counter-icon {
    color : white;
    position: absolute;
    left: 104px;
    top : -25px;
    border : 1px solid #482ff7;
    padding  : 10px 15px;
    border-radius: 50%;
    background-color: #482ff7 ;
}

.about-header {
    border : 1px solid #f6f9fe;
    background-color: #f6f9fe;
    border-radius: 100px;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    padding : 10px 15px;
}

.services-header {
    background-color: #f6f9fe;
    padding : 10px 15px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 20px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid #ace7ef;
    padding : 80px 20px;
    transition : .5s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-icon {
    color : #2f89fc;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    border : 1px solid #f6f9fe;
    background-color: #f6f9fe;
    padding : 20px 20px;
}

.service-icon:hover {
    border : 2px solid #f6f9fe;
}

.services-card-header:hover {
    color: blue;
}

.service-testmonials {
    background-image: url(../data/aa.jpg);
    height: 400px !important;
    background-position: center;
    background-size: cover;
    margin-top : 80px;
    /* opacity: .5; */
   
}

.testmonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.img {
    border: 6px solid rgba(0, 0, 0,);
    border-radius: 100px;
    width: 100px;
    margin-top: 60px;
}

.testmonials-header {
    margin-top : 15px;
    font-size: 30px;
    font-weight: bolder;
    color : #fff;
}

.testmonials-para {
    margin-top : 20px;
    font-weight: bolder;
    color : #ffffff;
}

.carousel-indicators {
    padding-top: 80px !important;
}

.team-container {
    background-color:#f6f9fe ;
    margin-top : 50px;
}

.team-hd {
    padding : 15px 0 3px 15px ;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 17px;
}

.team-para {
    padding : 3px 10px 20px 15px;
    opacity: .5 ;
    /* background-color: #fff; */
}

.ultimate {
    position: relative;
}

.advanced {
    position: absolute;
    width: 150px;
    color: #fff;
    text-align: center;
    top: 18px;
    right: -44px;
    transform: rotate(45deg);
    background-color: rgb(16, 110, 234);
    font-size: 14px;
    border-radius: 4px;
}

.card-button:hover {
    opacity: .5;
}

.contact-para {
    width: 50% !important;
}

.contact-icon {
    color: blue;
    padding : 10px 15px;
    border : 1px dotted #b3d1fa;
    border-radius: 50%;
}

.contact-icon-para  {
    font-weight: bolder;
    opacity: .5;
    font-size: 20px;
    margin-bottom: 10px !important;
}

.input {
    width: 49%;
}

.contact-btn {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.contact-footer {
    width: 520px;
}

.contact-footer-input {
    width: 100%;
}

.contact {
    background-color: #007aff30;
}

.footer-list {
    cursor: pointer;
}

.footer-list:hover {
    color : blue !important;
}

.footer-icon {
    border : 1px solid #3d5af1;
    padding: 10px 9px;
    overflow: hidden;
    border-radius:5px;
    background-color:#3d5af1;
    color: #fff;
    cursor: pointer;
}

.footer-icon:hover {
    opacity: .5;
}


.footerCopyRight {
    background-color: #007aff10;
}

.footer-text {
    padding : 30px 0px;
}

@media screen and (max-width : 1024px) {
    .content-header {
        text-align: center;
    }
    .navbar-nav .nav-link {
        text-align: center;
    }
    .card {
        margin-top : 20px;
    }
    .about-img {
        width: 100%;
    }
    .about-first-icon {
        margin-left: -45px;
    }
   .counter-icon {
       left: 82px;
   }
   .testmonials-para {
       width: 100% !important;
   }
}

@media screen and (max-width : 768px) {
    .counter-icon {
        left: 142px;
    }
    .services-para {
        width: 100% !important;
    }
    .contact-para {
        width: 100% !important;
    }
    .contact-map {
        width: 100% !important;
    }
    .footer-our-services {
        margin-top: 30px !important;
    }
    .footer-social-network {
        margin-top: 30px !important;
    }
}


@media screen and (max-width : 500px) {
    .navbar-nav .nav-link {
        text-align: center;
    }
    .card {
        margin-top : 20px;
    }
    .about-para {
        width: 100% !important;
    }
    .about-first-icon {
        margin-left: 4px;
    }
    .counter-icon {
        left : 155px;
    }
    .card-bd {
        margin-top : 30px;
    }
    .counter {
        margin-top : 50px;
    }
    .services-para {
        width: 100% !important;
    }
    .testmonials-para {
        width: 100% !important;
    }
    .contact-para {
        width: 100% !important;
    }
    .contact {
        width: 100% !important;
    }
    .contact-footer {
        width: 100%;
    }
    .contact-footer-input {
      width: 100% !important;
    }
    .footer-para {
        text-align: center;
        width: 100% !important;
    }
    .footer-design {
        width: 100% !important;
    }
    .footerCopyRight {
        margin-top: 20px !important;
        padding : 7px 0;
    }
    .footer-text {
        padding : 10px 0;
    }
    .footer-icon {
        margin-right: 20px;
    }
    .footerIcon {
        text-align: center;
    }
}
